.modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 81, 81, 0.8);
  z-index: 1000;
}

.modalContainer {
  overflow-y: scroll;
  position: relative;
  background-color: rgb(8, 8, 8);
  border: 2px solid rgb(27, 26, 26);
  border-radius: 8px;
  width: 600px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

#closeModalBtn {
  width: 10%;
  margin: 0 auto;
  font-size: 14px;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 8px;
  color: white;
  background-color: rgba(251, 43, 43, 0.773);
  cursor: pointer;
}

#modalMoviePoster {
  margin: 0 auto;
}

#modalMovieTitle {
  font-size: 24px;
  font-weight: 800;
  margin-top: 5px;
  padding-left: 10px;
}

#modalMovieOverview {
  padding: 10px;
}

#modalMovieRating {
  font-size: 18px;
  padding-left: 10px;
}

#modalMovieRelease {
  font-size: 18px;
  padding-left: 10px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  color: rgba(222, 215, 215, 0.852);
}

#bookmarkBtn {
  width: 75%;
  height: 36px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#bookmarkBtn:hover {
  background-color: black;
  color: white;
}
